/* General styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Form styling */
form {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #1039ee;
  width: 80%;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #081ee2;
}

/* Dropdown styling */
label {
  font-weight: bold;
}

select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Error message styling */
p {
  color: red;
  font-weight: bold;
}

/* Displaying results */
h3 {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #ddd;
}

